<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyboards</title>
</head>

<body>
    <!-- Include common header -->
    <%- include("templates/header") %>

        <h1>Keyboards</h1>

</html>